@charset "utf-8";
@import url("font.css");

/*Common*/
*{margin:0;padding:0}
/*Layer*/
html{overflow: scroll; overflow-x: hidden;}
body{width:100%; background-color:#fff;*word-break:break-all;-ms-word-break:break-all}
body,h1,h2,h3,h4,h5,h6,th,td,input,textarea,select,option,div, i{font-family: 'NanumBarunGothic','나눔바른고딕',helvetica,sans-serif;font-size:12px;font-weight: 400;}
img,fieldset,iframe{border:0 none}
ul,ol,li{list-style:none}
em,address{font-style:normal}
img,input,select,textarea,i{vertical-align:middle}
a{text-decoration:none;cursor:pointer}
a:hover{text-decoration:none}
button,label{cursor:pointer;_cursor /**/:hand}
button *{position:relative}
textarea{overflow:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
.input_text, textarea{*margin:-1px 0;padding-right:1px}
.input_check, .input_radio{width:13px;height:13px}
.blind, legend, caption{text-indent:-9999px;font-size:0;line-height:0;overflow:hidden}
hr{display:none}
legend{*width:0}
:root legend{margin-top:-1px;font-size:0;line-height:0}
caption{*line-height:0}
input.form-control{outline:none; box-shadow:none;}
input.form-control:focus{box-shadow:none;}
*{ box-sizing: border-box; }
.btn:focus,
a:focus{outline:none; box-shadow:none;}

.bold{font-weight:600;}
.reg{font-weight:400;}
.light{font-weight:300;}

.barun{font-family: "NanumBarunGothic";}
.kopub{font-family: "KoPubDotumLight"; font-weight:300;}

#wrap{width:100%; max-width:640px; margin:auto; position:relative; overflow: hidden;}
#wrap.w100{height:100vh; display:table; }
#wrap.w100 .page{display:table-cell; vertical-align:middle; }

.page {margin-top:42px; text-align:center; }
.page .logo{margin-bottom:15px; }
.page .logo img{width:137px; height:17px;}
.page .title{font-size:31px; letter-spacing:-1px; margin-bottom:16px; font-weight:600;}
.page .copy{font-size:10px; color:#009edb; margin-bottom:23px; }

#main .msg{font-size:17px; letter-spacing:-1px; margin-bottom:14px; }
#main .links{font-size:16px; margin-bottom:13px; }
#main .links a{display:inline-block; margin-left:50px; color:#009edb; font-weight:600; border-bottom:1px solid #009edb; }
#main .links a.first{margin-left:auto; }
#main .boxs .col-b{width:90%; padding:15px 15px 10px 15px; cursor:pointer; margin:0px auto 6px; position:relative; overflow:hidden; }
#main .boxs .col-b img{float:right; width:56px; height:55px;margin-bottom:8px;  }
#main .boxs .col-b .ttl{font-size:25px; clear:both; text-align:left; color:#fff; font-weight:300; }
#main .boxs .b1{background:#009edb;}
#main .boxs .b2{background:#006ec3;}
#main .boxs .b3{background:#1f3d88; margin-bottom:28px; }
#main .boxs .b3 img{width:70px;}

#login .title{font-size:44px; margin-bottom:8px;}
#login .use{font-size:25px; letter-spacing:-1px; font-weight:600; margin-top:8px; }
#login .use .v{font-size:18px; font-weight:400; display:block; margin:8px auto 17px; }
#login .input_group{width:90%; margin:auto; margin-bottom:10px; }
#login .input_group .inputs{width:100%; padding:16px 10px; font-size:13px; text-align:center; border:1px solid #a5ddf2;}
#login .input_group .inputs::placeholder{opacity:.34;}
#login .chk_group{width:90%; margin:37px auto 23px; }
#login .chk2{margin:22px auto 0px;}
#login .chk_group label{color:#000; font-size:13px; }
#login .chk_group label input{margin-right:8px; }
#login .btn_login{width:90%; margin:22px auto; font-size:13px; padding:16px 0px; border:0; background:#009edb; color:#fff;  }
#login .link1{font-size:13px; margin-bottom:20px; text-align:center; letter-spacing:-1px;}
#login .link1 a{color:#009edb; display:inline-block; margin-left:25px;  }
#login .link1 a:first-child{margin-left:auto; }
#login .link2{font-size:12px; margin-bottom:10px; text-align:center; letter-spacing:-1px;}
#login .link2 a{color:#999; display:inline-block; margin-left:20px;  }
#login .link2 a:first-child{margin-left:auto; }
#login .info{width:95%; margin:auto; text-align:left; letter-spacing:-1px;  }
#login .copy{margin-bottom:0px; }

#join_agree .desc{font-size:13px; margin:38px auto 35px; }
#join_agree .form{width:90%; margin:auto; }
#join_agree .form .box{width:80%; margin:auto; font-size:13px; text-align:left; margin-bottom:16px; overflow:hidden; }
#join_agree .form .box .more{float:right; }
#join_agree .form .chk_group{margin:36px auto 23px; }
#join_agree .form .chk_group label{color:#009edb; font-size:13px; }
#join_agree .form .chk_group label input{margin-right:6px; }
#join_agree .form .btn{width:100%; padding:16px 0px; border:0; color:#fff;}
#join_agree .form .btn_next{background:#009edb; margin-bottom:6px; }
#join_agree .form .btn_cancal{background:#999;}

#join{margin-top: 40px;}
#join .desc{font-size:13px; margin:15px auto 40px; }
#join .form{width:90%; margin:0px auto 50px; }
#join .form .frm_group{margin-top:5px; border-bottom:1px solid #b7b7b7 }
#join .form .frm_group .input_group{width:100%; overflow:hidden; padding:9px 0px; border-top:1px solid #b7b7b7}
#join .form .frm_group .no_bor{border-top:0; }
#join .form .frm_group .input_group .v{float:left; width:40%; text-align:left; padding-left:12px; font-size:13px; color:#262626;  }
#join .form .frm_group .input_group .in{float:left; width:60%; }
#join .form .frm_group .input_group .in .inputs{width:100%; font-size:13px; border:0; }
#join .form .frm_group .input_group .in .inputs:focus{outline:none;}
#join .desc2{font-size:12px; margin:6px 0px 28px;}
#join .form .btn{width:100%; font-size:13px; padding:15px 0px 17px; border:0; color:#fff;}
#join .form .btn_chk{background:#000}
#join .form .btn_ok{background:#009edb; margin-bottom:10px; }
#join .form .btn_cancal{background:#999;}

#ads{margin:auto;}
#ads .top{margin-bottom:23px; background:#009edb; overflow:hidden; position:relative; }
#ads .top .home{position:absolute; top:21px; left:13px; }
#ads .top .home img{width:31px; height:26px; }
#ads .top .ttl{padding:15px 0px; font-size:31px; color:#fff; font-weight:600; }
#ads .lists{margin-bottom:30px}
#ads .lists .tit{padding-bottom:10px; font-size:20px; text-align:center; font-weight:600;}
#ads .lists .tit.mar{padding-bottom:18px;}
#ads .lists .desc{font-size:16px; letter-spacing:-.5px; margin-bottom:30px; }
#ads .lists .dates{width:100%; margin:auto; padding-bottom:0px;  }
#ads .lists .dates .f{font-size:14px; font-weight:400; margin-right:10px; display:inline-block; }
#ads .lists .dates .in{display:inline-block;}
#ads .lists .dates .in2{margin-left:20px;}
#ads .lists .dates .in input{width:90px; padding:5px 0px; margin-right:5px; border:1px solid #12a5de; text-align:center; }
#ads .lists .dates .in input:focus{outline:none;}
#ads .lists .dates .in .ui-datepicker-trigger{width:22px; height:22px; position:relative; top:0px;  }
#ads .lists .selects .sel{display:inline-block; width:95%; margin:auto; font-size: 13px; font-weight:600; position:relative; }
#ads .lists .selects.bor .qr_sel{border-color:#12a5de; }
#ads .lists .selects .sel1{width:40%;}
#ads .lists .selects .sel2{width:55%;}
#ads .lists .selects .sel3{width:95.5%;}
#ads .lists .selects .sel .arraw{position:absolute; top:12px; right:5px; width:10px; height:4.8px; }
#ads .lists .selects .sel .opt_select{display:block; font-size:14px; border:1px solid #0fa4dd; height:30px; padding:5px 0px;}
#ads .lists .selects .sel .opt_view{display:none; width:100%; position:absolute; left:0px; top:28px; z-index:3; padding:5px 0px; text-align:center; border:1px solid #bfe7f6; background:#fff;  }
#ads .lists .selects.bor .sel .opt_select,
#ads .lists .selects.bor .sel .opt_view{border-color:#0ea5de}
#ads .lists .selects .sel .opt_view a{display:block; font-size:13px; padding:5px 0px; }
#ads .lists .selects .sel .opt_select.view  .arraw{transform:rotate(180deg)}
#ads .lists .searchs{width:100%; margin:4px auto; overflow:hidden; border-top:1px solid #12a5de; border-bottom:1px solid #12a5de;}
#ads .lists .searchs.bor{width:95.5%; margin:5px auto; border:1px solid #12a5de;}
#ads .lists .searchs.bor2{width:95.5%; margin:5px auto; border:1px solid #0ea5de;}
#ads .lists .searchs .sear{float:left; width:calc(100% - 43px); height:57px; font-size:16px; padding:10px; padding-right:0; border:0; }
#ads .lists .searchs .sear:focus{outline:none;}
#ads .lists .searchs .sear_btn{float:right; border:0; background:transparent; padding:16px 10px; }
#ads .lists .searchs .sear_btn:focus{outline:none;}
#ads .lists .searchs .sear_btn img{width:23px; height:23px; }
#ads .lists .list-in{min-height:300px; border-top:1px solid #bfe7f6}
#ads .lists .list-in table{width:100%; table-layout: fixed;}
#ads .lists .list-in th{font-size:14px; text-align:center; border-bottom:1px solid #3db5e4; font-weight:600; padding:20px 0px; position:relative;  }
#ads .lists .list-in th .arraw{margin-left:10px; width:11px; height:5px; }
#ads .lists .list-in th .view .arraw{transform:rotate(180deg)}
#ads .lists .list-in th .opt_select{position:relative; z-index:5; }
#ads .lists .list-in th .opt_view{display:none; width:100%; position:absolute; top:8px; z-index:3; padding:35px 0px 5px; text-align:center; border:1px solid #05a0dc; background:#fff;  }
#ads .lists .list-in th .opt_view a{display:block; font-size:13px; padding:5px 0px; }
#ads .lists .list-in td{font-size:14px; border-bottom:1px solid #3db5e4; padding:14px 0px; }
#ads .lists .list-in td.tit{font-weight:400; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#ads .lists .list-in td.tit a{color:#000;}
#ads .lists .list-in td.more{text-align:center; }
#ads .lists .list-in td.more a{width:23px; height:23px; margin:auto; display:block; }
#ads .lists .list-in td.more img{width:23px; height:23px; }
#ads .lists .list-in td.more .minus{display:none;}
#ads .lists .list-in td.view .plus{display:none;}
#ads .lists .list-in td.view .minus{display:block;}
#ads .lists .list-in .contents{display:none; }
#ads .lists .list-in .contents td{background:#dff7ff; padding:10px; }
#ads .lists .list-in .contents td div{font-size:14px; }
#ads .lists .list-in .contents td.type3 div{font-size:13px;}
#ads .lists .list-in .contents td .r{overflow:hidden; }
#ads .lists .list-in .contents td .t_b{width:70px; padding:5px; float:left; text-align:left;font-weight:600;}
#ads .lists .list-in .contents td .t_c{width:94px; padding:5px 5px 5px 0px; text-align:left; float:left;word-break:keep-all; }
#ads .lists .list-in .contents td .c2{width:62px; }
#ads .lists .list-in .contents td .c3{width:156px; }
#ads .lists .list-in .contents td.type2 .t_b,
#ads .lists .list-in .contents td.type3 .t_b{width:23%; }
#ads .lists .list-in .contents td.type2 .t_c,
#ads .lists .list-in .contents td.type3 .t_c{width:77%; }
#ads .lists .list-in .contents td.type3 div.t_b{padding-left:0; }
#ads .lists .list-in .contents td .preview_btn{width:114px; font-size:14px; padding:10px 0px; text-align:center; border:0; margin:20px auto 0px; background:#05a0dc; color:#fff; }
#ads .lists .list-in .contents td .preview_btn img{width:20px; height:23px; margin-right:15px}
#ads .lists .paging{width:70%; font-size:17px; margin:auto; position:relative; margin-top:20px; padding:5px 0px; }
#ads .lists .paging a{font-weight:400; padding:5px; display:inline-block; position:absolute; top:0px; }
#ads .lists .paging .prev{left:0px; }
#ads .lists .paging .next{right:0px; }
#ads .gal_list{background:#111111; padding:10px; overflow:hidden; }
#ads .gal_list div{float:left; width:49.5%; margin:5px auto; margin-left:1%; padding:5px; }
#ads .gal_list div:first-child,
#ads .gal_list div:nth-child(2n+1){clear:both; margin-left:0%;  }
#ads .gal_list div img{width:100%; }
#ads .gal_list div a.view img{border:5px solid #009edb; padding:0px; border-radius:5px;}
#ads .btns{margin:8px 0px 40px; }
#ads .btns .col-btns{width:100%; overflow:hidden; margin-bottom:8px; }
#ads .btns .col-btns button{float:left; font-size:13.2px; color:#fff; border:0; padding:18px 0px;  }
#ads .btns .col-btns .btn1{width:49.5%; margin-right:1%; background:#33a22a }
#ads .btns .col-btns .btn2{width:49.5%; background:#999}
#ads .btns .btn_list{width:100%; font-size:14px; padding:18px 0px; color:#fff; background:#009edb; border:0; }
#ads .btns .btn_list:focus{outline:none;}
#ads.temp{margin-bottom:80px; }
#ads.temp .btns{margin:auto; position:fixed; bottom:0; left:0; width:100%; background:#fff; }
#ads.temp .btns .btn_list{width:95%; margin:11px auto;}
#ads .views .tit{padding-bottom:13px; font-size:22px; text-align:center; font-weight:600; }
#ads .views .tit_pa{padding-top:5px;}
#ads .views .ad_info{background:#e0f6ff; padding:5px 0px; }
#ads .views .ad_info.info_pa{border-top:1px solid #e8eced}
#ads .views .ad_info table{width:100%; padding-top:10px; }
#ads .views .ad_info table th,
#ads .views .ad_info table td{font-size:13.2px; vertical-align:middle; padding:0px 5px 10px 10px;}
#ads .views .ad_info table th{text-align:left; font-weight:600; padding-right:0; }
#ads .views .ad_info table td{text-align:left}
#ads .views .ad_info table td .btn_view{padding:3px 6px; float:right; border:0; background:#009edb; color:#fff; }
#ads .views .ad_info table td .t{position:relative; top:6px; }
#ads .views .ad_info table td .in_tit{width:100%; padding:5px; border:0; }
#ads .views .ad_info table td .in_tit:focus{outline:none;}
#ads .views .ad_info table td .red{color:#ff0000}
#ads .views .ad_info table tr:last-child th,
#ads .views .ad_info table tr:last-child td{padding-bottom:0px; }
#ads .views .ad_info.info_pa table tr:last-child th,
#ads .views .ad_info.info_pa table tr:last-child td{padding-bottom:8px; }
#ads .views .info2{margin:10px 0px;}
#ads .views .preview_img img{max-width:100%; }
#ads .views .ad_info2{width:95%; margin:5px auto; }
#ads .views .ad_info2 .r{width:100%; margin-bottom:10px; overflow:hidden; }
#ads .views .ad_info2 .r .in{float:left; width:calc(100% - 92px); height:56px; text-align:center; padding:0px 10px; font-weight:400; background:#fff; font-size:18px; border:0; border-top:1px solid #23abe0; border-bottom:1px solid #23abe0; }
#ads .views .ad_info2 .r .t_m{float:left; width:calc(100% - 92px); height:56px;}
#ads .views .ad_info2 .r .texta{width:100%; height:100%; resize:none; border-top:1px solid #23abe0; border-bottom:1px solid #23abe0; }
#ads .views .ad_info2 .r .in:focus,
#ads .views .ad_info2 .r .texta:focus{outline:none;}
#ads .views .ad_info2 .r .btns{width:46px; margin:auto; background:transparent; border:0; }
#ads .views .ad_info2 .r .btns:focus{outline:none;}
#ads .views .ad_info2 .r .btns img{width:100%;}
#ads .views .ad_info2 .r .btn_left{float:left;}
#ads .views .ad_info2 .r .btn_right{float:right;}
#ads .views .ad_info2 .r .left{float:left; width:46px; }
#ads .views .ad_info2 .r .right{float:right; width:46px;}
#ads .views .ad_info2 .r .left img,
#ads .views .ad_info2 .r .right img{width:100%; }
#ads .views .ad_info2 .r .left button,
#ads .views .ad_info2 .r .right button{border:0;}
#ads .views .ad_info2 .r .bf_slider{float:left; width:calc(100% - 92px); height:180px; border:0; background:transparent; }
#ads .views .ad_info2 .r .bf_slider .swiper-slide{border-top:1px solid #23abe0; border-bottom:1px solid #23abe0;}
#ads .views .ad_info2 .r .bf_slider .swiper-slide img{width:100%; height:179px;}
#ads .views .ad_info2 .r .dates{float:left; width:calc(100% - 92px);}
#ads .views .ad_info2 .r .dates .in{float:none; width:46%; font-size:14px; text-align:center; position:relative; border:1px solid #23abe0; }
#ads .views .ad_info2 .r .dates #start{left:-2px;}
#ads .views .ad_info2 .r .dates #end{right:-2.5px;}
#ads .views .ad_info2 .r .dates .bar{padding:0px 2%;}
#ads .pays{background:#ff3000; padding:5px; overflow:hidden; }
#ads .pays .p_subj{float:left; width:calc(100% - 90px); height:50px; padding:13px 0px; font-size:22px; font-weight:600; background:#fff; }
#ads .pays .btn_pay{float:right; width:80px; font-size:13px; background:transparent; border:0; color:#fff; }
#ads .pays .btn_pay img{width:23px; height:17px; margin:7px auto 5px; }
#ads .pays .btn_pay:focus{outline:none;}
#ads .ad_tem{background:#111111; padding:30px 10px; }
#ads .ad_tem .ad_top{margin-bottom:20px; text-align:center; }
#ads .ad_tem .ad_top a{color:#fff; font-size:13px; }
#ads .ad_tem .ad_top a img{margin-right:6px; }
#ads .ad_tem .ad_top .i1{display:inline-block; margin-right:40px}
#ads .ad_tem .ad_top .i1 img{width:13px; height:16px; }
#ads .ad_tem .ad_top .i2 img{width:16px; height:16px;}
#ads .ad_tem .ad_contents{overflow:hidden; }
#ads .ad_tem .ad_contents .btn_ads{float:left; width:19%; background:#111111; border:0; position:relative; margin-left:1%; margin-bottom:5px; }
#ads .ad_tem .ad_contents .btn_ads:focus{outline:none;}
#ads .ad_tem .ad_contents .btn_ads:first-child,
#ads .ad_tem .ad_contents .btn_ads:nth-child(5n+1){clear:both; margin:auto;}
#ads .ad_tem .ad_contents .btn_ads .t{width:100%; height:56px; font-size:13px; background:#009edb; color:#fff; padding:20px 0px; font-size:14px; }
#ads .ad_tem .ad_contents .btn_ads .icon{background:#084e96; padding:5px 0px;}
#ads .ad_tem .ad_contents .btn_ads .icon img{width:19px; height:23px; }
#ads .ad_tem .ad_contents .btn_ads .bg{opacity:.7}
#ads .ad_tem .ad_contents .btn_ads .bg img{width:100%; height:90.89px;}
#ads .ad_tem .ad_contents .btn_ads .iconbg{width:100%; padding:8px 0px; position:absolute; bottom:0; left:0; background:url(../images/bg.png); border:0; }
#ads .ad_tem .ad_contents .btn_ads .iconbg img{width:20px; }
